svg {
  fill: #d5c67a !important;
  height: 50px;
}

.ui.segment {
  background: #fff;
}

body {
  background: #edeee97a;
}

/* img.ui.image {
  display: block;
  height: 70px;
} */

.category_item {
  padding: 1.4rem;
  background: #fff;
  border: 1px solid #ddd;
  color: #828282;
  min-width: 250px;
  margin: 5px;
  margin-top: 2.2rem;
  cursor: pointer;
  font-weight: 600;
  border-left: 10px solid gold;
}

.category_item.active {
  background: #eee;
}

/* #root > div > div > div:nth-child(2) > div > div.four.wide.column > div > a:nth-child(1) {
  background: #e5e4e2 !important
} */

#root
  > div
  > div
  > div:nth-child(2)
  > div
  > div.four.wide.column
  > div
  > a:nth-child(2) {
  color: gold;
}
