{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@babel/preset-stage-2",
    "@babel/preset-stage-3",
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel"],
  "retainLines": true
}
