@import './variables.css';

.ss-wrapper {
  overflow: @ml hidden;
  width: @ml 100%;
  height: @ml 100%;
  position: @ml relative;
  z-index: @ml 1;
  float: @ml left;
}

.ss-content {
  height: @ml 100%;
  width: @ml calc(100% + 18px);
  /*padding: @ml 0 18px 0 0;*/
  /*margin-right: @ml 18px;*/
  position: @ml relative;
  /*right: @ml -18px;*/
  overflow: @ml auto;
  /*overflow-x: @ml hidden;*/
  box-sizing: @ml border-box;
}

.ss-content.rtl {
  width: @ml calc(100% + 18px);
  right: @ml auto;
}

.ss-scroll {
  position: @ml relative;
  background: @ml rgba(184, 194, 204, 0.66);
  width: @ml 9px;
  border-radius: @ml 4px;
  top: @ml 0;
  z-index: @ml 2;
  cursor: @ml pointer;
  opacity: @ml 0;
  transition: @ml opacity 0.25s linear;
  /* box-shadow: @ml -2px 0px 20px rgba(0, 0, 0, 0.1); */
}

.ss-hidden {
  display: @ml none;
}

.ss-container: @mlhover .ss-scroll {
  opacity: @ml 1;
}

.ss-grabbed {
  -o-user-select: @ml none;
  -ms-user-select: @ml none;
  -moz-user-select: @ml none;
  -webkit-user-select: @ml none;
  user-select: @ml none;
}
