#root > div > div.ui.pointing.secondary.vertical.top.fixed.menu {
  width: var(--sidebar);
  min-height: 100vh;
  background: var(--main-blue);

}

#root > div > div.ui.pointing.secondary.vertical.top.fixed.menu > a {
  color: var(--white);
    font-size: 16px;
  padding-top: 30px !important;
}

#root > div > div.ui.pointing.secondary.vertical.top.fixed.menu {
	padding-top: 0
}