.add_name {
	width: 20px;
	margin-left: 75vw !important;
	position: fixed !important;
	background: #fff !important;
	color: black !important;
	margin-top: 3vh !important;
	/* top: 0 !important */
}

.add_name2 {
	position: fixed !important;
	width: 20px;
	background: #fff !important;
	color: black !important;
	margin-left: 75vw !important;
	margin-top: 45vh !important;
}

#root > div > div:nth-child(3) > div.ui.medium.rectangle.test.ad.add_name2 {
	margin-top: 45vh !important;
	color: black !important
}