.signup-box::after,
.signup-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
}

.signup-box::before {
  transform: translateY(10px) scaleX(0.98);
  z-index: -1;
}

.signup-box::after {
  transform: translateY(20px) scaleX(0.94);
  z-index: -2;
}

.progress-stage-arrow {
  transform: translateX(50%) rotate(45deg);
  transform-origin: 50% 50%;
  /* border-right-width: 1px; */
  /* border-bottom-width: 1px; */
  box-shadow: 5px -3px 3px -1px rgba(0, 0, 0, 0.15);
}

.dot-font-size {
  font-size: 0.4rem;
}

/* RegistrationPayment */

.registration-payment-shadow {
  box-shadow: -15px 0px 2px -5px rgba(0, 0, 0, 0.1);
}
