:root {
  --white: #fff;
  --main-blue: #34495e;
  --main-gold: #d5c67a;
  --sidebar: 17vw;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  /* background: #e2e2e2; */
}

.btn {
  background: var(--main-gold) !important;
  padding: 15px !important;
  color: white !important;
  width: 110px;
  border-radius: 60px !important;
}

.btn.btn-reverse {
  background: var(--white) !important;
  color: var(--main-gold) !important;
  border: 1px solid var(--main-gold);
}

.app {
  min-height: 100vh;
  background: #e2e2e2;
}
.main {
  margin-left: 20vw;
  margin-top: 12vh;
  width: 49vw;
}

div.seven.wide.column > div > p {
  margin-bottom: 2px !important;
  color: rgba(52, 51, 53, 0.705) !important;
}

#root
  > div
  > main
  > div:nth-child(2)
  > div.ui.pointing.secondary.menu
  > a.active.item {
  border-bottom: 3px solid var(--main-gold) !important;
}

#root > div > main > div:nth-child(2) > div.ui.segment.active.tab {
  background: transparent !important;
  padding: 0;
  border: none;
}

.payButton {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  background: green;
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;
}
.payButton:hover {
  background: #0dad0c;
}

#root > div > main > div.ui.grid > div > div {
  padding-bottom: 40px !important;
}

.bana {
  background: var(--white);
  padding: 40px;
  text-align: center;
  width: 96%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  color: var(--main-gold);
}
.bana.library {
  margin-bottom: 0;
}
.sub-bana {
  background: #edeee9;
  padding: 10px;
  color: rgba(107, 105, 105, 0.87);
  font-weight: bold;
  width: 96%;
  margin: 0 auto;
  text-align: center;
}

#root > div > main > div.ui.cards > div {
  width: 100%;
}

#root > div > main > div.ui.cards > div:nth-child(1) {
  margin-top: 30px;
}

#root
  > div
  > main
  > div:nth-child(2)
  > div.ui.segment.active.tab
  > div
  > div.ui.pointing.menu
  > a.item {
  color: #555;
}
#root
  > div
  > main
  > div:nth-child(2)
  > div.ui.segment.active.tab
  > div
  > div.ui.pointing.menu
  > a.active.item {
  background: var(--main-gold);
}
#root
  > div
  > main
  > div:nth-child(2)
  > div.ui.segment.active.tab
  > div
  > div.ui.pointing.menu
  > a.active.item::after {
  background: var(--main-gold);
}

#root > div > main > a > div > div {
  width: 100% !important;
}

#root > div > main > a > div > div:nth-child(1) {
  margin-top: 50px;
}

#root
  > div
  > main
  > div.ui.cards.TimeLine
  > div
  > div.extra.content.time
  > div {
  margin: 0 auto !important;
  margin-top: 10px !important;
}

#root
  > div
  > main
  > div.ui.cards.TimeLine
  > div
  > div.extra.content.time
  > div:nth-child(1) {
  margin-left: 5% !important;
  margin-right: 20px !important;
}

#root
  > div
  > main
  > div.ui.cards.TimeLine
  > div:nth-child(1)
  > div.extra.content.time
  > div.ui.comments.slide.down.visible.transition
  > form
  > div
  > textarea {
  height: 100% !important;
}

#root
  > div
  > main
  > div.ui.cards.TimeLine
  > div:nth-child(1)
  > div.extra.content.time
  > div.ui.comments.slide.down.visible.transition
  > form
  > button {
  margin-bottom: 10px;
}

#root
  > div
  > main
  > div:nth-child(2)
  > div.ui.segment.active.tab
  > div
  > div
  > img {
  height: 200px !important;
  width: 100% !important;
}

.encode-font {
  font-family: 'Encode Sans Expanded', sans-serif;
}


#root > div > div > div:nth-child(4) > div:nth-child(2) > div > div.stretched.twelve.wide.column > div > div.ui.message {
  background: gold;
}